* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: rgb(99, 99, 230);
}

main {
    background-color: cornsilk;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: rgb(194, 191, 191);
}